.form-container {
    width: 30%;
}

@media screen and (max-width: 1200px) {
    .form-container {
        width: 40%;
    }
}

  
@media screen and (max-width: 1000px) {
    .form-container {
        width: 65%;
    }
}

  